<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <meta name="viewport" content="initial-scale=1" />
        <title>News Updates</title>
        <meta NAME="Description" CONTENT="Always stay updated with all kind of latest news around all the world">
		<meta NAME="Keywords" CONTENT="News, India, World, Lifestyle, Auto, business">
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" media="all">
        <link rel="stylesheet" href="css/style.css" media="all">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    </head>
    <body ng-controller="MainController" layout="row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-sidenav-left site-sidenav md-whiteframe-z2 blue lighten-2 white-text" ng-cloak>

        <a href="index.html" class="md-display-1 md-padding">NewsUpdates</a>
        <h4 class="md-padding">Choose your category</h4>
        <md-content flex role='navigation' class="blue lighten-2">
            <ul class="cat-list">
                <li ng-repeat="cat in navLists">
                <md-button class="md-button md-headline blue lighten-2 " ng-click="toggleOptns = !toggleOptns">
                    <span>{{cat.section}}</span>
                </md-button>
                <ul ng-show="toggleOptns">
                    <li layout="row" ng-repeat="item in cat.items| orderBy:'newsCateg'">
                        <a class="md-ink-ripple md-button" ng-click="getData(item.newsCateg, item.datauri)">
                            <p ng-bind-html="item.newsCateg"></p>
                        </a>
                    </li>
                </ul>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
    <div flex layout="column" role="main">
        <md-toolbar class="md-shadow-bottom-z-1 md-accent" layout='row' layout-align="start center">
                <md-button class="md-icon-button" aria-label="Settings" hide-gt-sm ng-click="openLeftMenu()">
                    <md-icon md-svg-src="images/icons/menu.svg"></md-icon>
                </md-button>
                <span class="md-padding">Stay Updated with Latest News</span>
        </md-toolbar>
        <md-content class='md-padding' ng-cloak>
            <h3 class="md-headline">Latest <span ng-bind-html="news_cat"></span> News</h3>
            <div flex="100" layout='row' layout-align="center center" ng-if="news == ''" class='text-center loader' layout-align="center" ><img src="images/loader.svg"/><br />Loading...</div>
            <div layout-xs='column' layout='row' flex>
                <div flex-xs flex-gt-sm='50'>
                    <md-card ng-repeat="item in news" ng-if="$index % 2 == 0">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline"><a href="{{ item.guid}}" ng-bind-html="item.title"></a></span>
                                <span class="md-subhead">{{ item.pubDate}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p ng-bind-html="item.description"></p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <a href="{{ item.guid}}" target="_blank"><md-button class='md-raised md-accent'>Read Full Article</md-button></a>
                        </md-card-actions>
                    </md-card>
                </div>
                <div flex-xs flex-gt-sm='50'>
                    <md-card ng-repeat="item in news" ng-if="$index % 2 == 1">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline"><a href="{{ item.guid}}">{{ item.title}}</a></span>
                                <span class="md-subhead">{{ item.pubDate}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p ng-bind-html="item.description"></p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <a href="{{ item.guid}}" target="_blank"><md-button class='md-raised md-accent'>Read Full Article</md-button></a>
                        </md-card-actions>
                    </md-card>
                </div>
        </md-content>
    </div>
</div>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>